@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Forma general */
body {
    padding: 0;
    margin: 0;
    font-family: 'Vollkorn', serif;
}

main {
    display: flex;
    flex-direction: row;
}

/* Columna izquierda */
.columna-izquierda {
    background-color: #ffffff;
    width: 70%;
    padding: 50px;
    color: #404040;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
}

.avatar {
    width: 200px;
    height: 200px;
    margin: 0 auto 0 33px; /*centrar*/
    padding: 1%;
    border: 5px solid rgb(68, 68, 108);
    border-radius: 50%;
    box-shadow: 40%;
}

.intro {
    margin-left: 5px;
    margin-right: auto; 
}

.intro p {
    margin-left: 99px;
    margin-right: 55px;
    font-style: italic;
}

h1 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    margin: 8px 25% 8px 25%;
}

.negrita-h1 {
    font-weight: 900;
    color: rgb(44, 37, 37);
}

.formacion, .experiencia, .reconocimmientos {
    padding-left: 50px;
}


/* Columna derecha */
.columna-derecha {
    background-color: #404040;
    color:#f2f2f2;
    width: 30%;
    padding: 32px;
}

.datos-perfil ul {
    list-style: none;
    /* 
    font-family: 'Fira Sans', sans-serif;
    */
    font-weight: 200;
}

.habilidades ul {
    list-style: none;
}

strong {
    font-weight: 700;
}

span {
    color: rgb(13, 13, 38);
    font-weight: 700;
}

.herramientas ul {
    list-style: none;
}