body {
    color:red;
}

body {
    color: white;
}

body {
    background-color: orange;
}

/* Media query */

@media (min-width: 400px) {
    body  {
        background-color: black;
    }    
}


@media (max-width: 800px) {
    body  {
        background-color: aqua;
    }    
}

