#caja-resultados {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#caja-resultados > div {
    border: 1px solid black;
    border-radius: .5em;
    box-sizing: border-box;
}

.pelicula {
    width: 185px;
}

.pelicula h4 {
    margin: 0;
    text-align: center;
}
.pelicula img {
    border-radius: 2px;
}

input {
    display: block;
    width: 100%;
    margin-bottom: 2em;
}
