body {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
}

/*--------------- Cabecera --------------------------*/

.banner {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(53, 50, 50);
    color: rgb(241, 235, 235);
}

.banner .elemento {
    margin: 0 px 0 3px;
}

.cabecera {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    background-color: yellow;
}

#logo {
    padding-left: 1em;
}

#logo img {
    height: 2em;
}


input {
    height: 2em;
    width: 40em;

    padding-left: 2em;
}

.fa-magnifying-glass {
    position: relative;

    right: 2.5em;
}

/*--------------- Secciones en contendor --------------------------*/

#enunciados-cabecera {
    padding: 1em 2em 1em 2em;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

section {
    padding-left: 10%;
    padding-right: 10%;
}

#seccion-botonera {
    background-color: aqua;
    padding-left: 9em;

    display: flex;
    flex-direction: row;
    justify-content:center;
}

.boton-grande {
    width: 20em;
    height: 4em;
    border: 1px solid rgb(62, 61, 61);
    margin: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    border-radius: 2%;
}

.fa-tag, .fa-desktop, .fa-gift, .fa-arrows-spin {
    color: orange;
    height: 5em;
    width: auto;
}


h2 {
    text-transform: uppercase;
}

.listado-productos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(143, 129, 101);

}



/* Productos */
.estado {
    background-color: #fb8b40;
    color: white;
    border-radius: 12px;

    text-transform: uppercase;
    width: 7em; 
    padding: 0.2em;   
}

.capas-precio {
    display: flex;
    justify-content: space-around;
    padding: 2em;


}

.precio-viejo {

}

.descuento {

}

/*--------------- Footer --------------------------*/

.links-footer {
    margin-left: 1.2em;
    margin-right: 1.2em;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: orange;
}

.links-footer ul {
    list-style-type: none;
    padding-left: 0;
}

.bold {
    font-size: 1.1em;
    font-weight: bold;
}

footer p {
    text-align: center;
    font-size: smaller;
}

.codigo-qr {
    height: 5em;
    width: auto;
}
