body {
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
}

.contenedor {
    display: flex;
}

.ficha-pelicula {
    border: 1px solid black;
    padding: 1em;
    height: 500px;
    width: 700px;
    margin: 2em;
}

span {
    font-weight: bold;
}
