CSS Rules

body {
	text: "as";
	font: 'Coursier';

	height: 12px;
	width: 12px;

	margin: 2px;
	padding:2px;	

	display: flex;
	flex-direction: column;

	background-color: #414142;
    color: #e7e7e8;

    
}
