<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .contenedor-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            gap: 3px;
        }
        .box {
            background-color: aqua;
            grid-column-start: span;
        }

        /* Media queries*/
        @media screen and (min-width: 800px) {
            .contenedor-grid {
                grid-template-columns: repeat(4, 1fr); /* grid-template-columns: 1fr 1fr 1fr 1fr;*/
            }
        }

        @media screen and (min-width: 900px) {
            .contenedor-grid {
                grid-template-columns: repeat(6, 1fr);
            }
        }

    </style>
</head>
<body>
    <div class="contenedor-grid">
        <div class="box">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum porro, id vero omnis eius laboriosam aliquam nulla. Voluptas, quidem. Voluptate dolor officia excepturi earum dolores commodi obcaecati nam alias in!</div>
        <div class="box">Veniam odio fugiat itaque debitis reprehenderit inventore est quasi assumenda deserunt accusamus distinctio saepe, laborum minima eum voluptates dolorum dolores et praesentium? Provident quas aperiam nostrum libero, neque veniam eum?</div>
        <div class="box">Impedit, atque provident. Perferendis culpa ducimus commodi quibusdam eius cum nesciunt iusto obcaecati recusandae tenetur veniam, necessitatibus ut vitae ex fuga at! Quo similique ipsam exercitationem molestiae iste quaerat ullam!</div>
        <div class="box">Modi repellat facilis explicabo corrupti vero laboriosam eum? Temporibus reiciendis ducimus voluptas consectetur repellat. Harum similique, asperiores quidem dolorem nihil quisquam quis aperiam a cum obcaecati eligendi quibusdam rem unde!</div>
        <div class="box">Expedita deserunt non repellat nam aut quos doloremque id. Rerum quo veniam doloribus perspiciatis minima, aperiam optio dolores velit excepturi, totam corporis nulla sapiente explicabo aut adipisci laborum nesciunt tenetur!</div>
        <div class="box">Minus et rerum explicabo dicta hic omnis maiores eius cumque, corrupti error deserunt ipsum consequuntur ea atque nemo expedita. Recusandae modi autem nemo voluptatum corrupti maiores doloremque porro in beatae.</div>
        <div class="box">Nam saepe tempore doloremque vel a ea, eveniet officiis cupiditate asperiores nostrum perspiciatis, inventore id error labore animi optio. Soluta nesciunt minus, voluptatibus quaerat debitis dolores distinctio ipsam ipsa in.</div>
        <div class="box">Itaque excepturi similique debitis vero. Ratione ad quas delectus placeat maxime, recusandae amet laudantium sapiente iure nihil animi beatae quibusdam corporis numquam, tempore consequuntur earum ipsa, fugiat voluptatum deleniti cum?</div>
        <div class="box">Voluptatum rerum harum officiis suscipit laudantium aliquid et pariatur sed, distinctio itaque optio sapiente voluptatem, officia quia laborum consequatur eos molestias. Eaque similique alias quas porro impedit veniam cumque nisi.</div>
        <div class="box">Sint dicta cupiditate architecto placeat quo eaque autem unde sit recusandae incidunt, commodi numquam, facere porro, corporis eum suscipit. Odit dolore voluptatibus nostrum maxime? Quos molestiae fugiat eligendi nam dicta.</div>
        <div class="box">Enim cumque aliquid officia obcaecati aliquam minima aperiam assumenda id sunt culpa. Temporibus incidunt maiores impedit. Molestias expedita in voluptatibus non doloribus quidem, neque explicabo cumque quia eius voluptate officiis.</div>
        <div class="box">Numquam, deserunt non commodi minus perferendis voluptatibus in vero deleniti quam illum assumenda hic amet autem veniam mollitia facilis aliquam labore cumque repellat cupiditate quis ut nobis a quo? Illo!</div>
        <div class="box">Consequatur a voluptate tempore facilis dolores corporis officiis quo, inventore architecto facere repellendus odit, commodi quaerat qui aliquam tenetur corrupti laborum magnam. Aliquam, optio ipsam incidunt nesciunt nisi blanditiis beatae.</div>
        <div class="box">Natus quasi eaque rem deleniti ab assumenda reiciendis earum excepturi. Odio suscipit nesciunt placeat, dolorem similique facilis ea magni labore temporibus, sunt blanditiis minima? Rerum, dicta. A itaque repudiandae tenetur.</div>
        <div class="box">Quisquam reiciendis provident obcaecati natus quos eius eaque est nisi, nihil, reprehenderit, repellendus dicta voluptate laboriosam ipsum! Praesentium in officia iste quibusdam deleniti, recusandae adipisci, labore, nisi facere veniam expedita!</div>
        <div class="box">Nobis ea numquam expedita, laudantium sunt corrupti necessitatibus quo. Eaque nam consequatur rerum repellat illo, voluptas in quam eos neque nostrum odio, dolores doloribus nulla commodi earum natus voluptatem aliquam!</div>
        <div class="box">Deleniti odit expedita itaque ipsam repellat perferendis? Similique, repudiandae dolore ad distinctio eveniet quisquam. Esse, culpa minima nihil ex ad odit iste nobis sequi officia delectus totam sed doloribus iure!</div>
        <div class="box">Accusamus modi vero assumenda corrupti deserunt! Unde, beatae dolorum temporibus asperiores fuga maiores veniam blanditiis obcaecati minima a sed aliquam quae, aspernatur nisi! Itaque et ipsum ea soluta rerum eum.</div>
        <div class="box">Quo fugit animi commodi, saepe asperiores voluptates placeat iste tempore laboriosam et velit impedit qui quis laborum optio repellendus reprehenderit dolor ut dolore, porro temporibus facilis nobis ipsa unde? Iusto!</div>
        <div class="box">Inventore totam iure illum recusandae vero quas quidem aliquam libero, cumque minus adipisci provident, aspernatur soluta alias dignissimos perferendis. A iusto unde ipsam dolores dignissimos nisi in inventore, laboriosam ad.</div>
        <div class="box">Quaerat ea nihil laudantium, corrupti impedit laboriosam maiores nostrum quae voluptate soluta nulla. Voluptates corrupti, non recusandae quas molestias quos sequi explicabo inventore doloremque. Dolorem ratione dolor tempora suscipit illum?</div>
        <div class="box">Pariatur id delectus quia debitis ullam fugiat accusantium facere dolore nam, est aliquid libero at tempora ipsum fugit placeat enim similique! Ut sed, possimus praesentium officia quae et iusto voluptatum.</div>
        <div class="box">Quaerat ipsam id labore perspiciatis laborum, alias quisquam possimus cumque magni sequi modi illum? Soluta natus quasi sint aperiam dolores illum amet perferendis sunt voluptas, maxime perspiciatis, veniam ex atque!</div>
        <div class="box">Totam, quis quisquam dolorem cum temporibus iusto nisi aliquid eaque porro et accusantium commodi facere, explicabo a corporis mollitia saepe? Nemo beatae magni dicta pariatur consequuntur quae alias aliquid non?</div>
        <div class="box">Impedit ex exercitationem accusantium error magnam voluptates dolore mollitia, eos distinctio a dignissimos consequuntur nam quisquam et modi blanditiis necessitatibus architecto esse soluta incidunt labore neque aspernatur laboriosam? Facere, dolores!</div>
        <div class="box">Tenetur minima quasi veritatis, blanditiis nisi quis quas eaque, tempora pariatur porro eveniet quibusdam nulla similique fuga possimus atque. Modi nam consequatur, obcaecati illo id eius facilis officiis iusto at?</div>
        <div class="box">Perferendis impedit pariatur enim, repudiandae nulla minus quisquam, minima eaque atque ex praesentium, maiores quo soluta molestias nobis blanditiis voluptatem nesciunt distinctio. Similique amet eum ipsam soluta in molestias alias.</div>
        <div class="box">Dolore inventore deleniti, quae sapiente ipsum neque optio ex, accusamus, facere provident necessitatibus hic recusandae qui dolor quaerat! Officiis obcaecati repellendus dolor cumque sunt beatae rerum culpa vitae hic consequatur.</div>
        <div class="box">Rem dolores soluta at nemo in eum aliquid iusto, suscipit architecto mollitia repellat recusandae vero? Nulla corporis sit nobis vero laborum natus facere delectus cupiditate atque, ducimus esse temporibus tempore!</div>
        <div class="box">Voluptates, cumque cupiditate sit, facere tenetur natus est recusandae eius assumenda quis numquam? Tempora neque eos harum totam velit expedita nobis corporis est numquam ipsum assumenda deleniti, adipisci ex similique.</div>
        <div class="box">Doloremque ab tempora, atque natus architecto autem quo aperiam incidunt numquam libero est eius error sint, minus, nesciunt assumenda! Perspiciatis praesentium doloremque maxime, nobis dolor blanditiis magnam laudantium ipsa sint.</div>
        <div class="box">Nulla pariatur cupiditate quisquam expedita sit sapiente ducimus repellat rerum eum rem placeat nemo maxime ipsum suscipit facilis architecto at dolorum, officiis dolorem labore est corrupti enim. Deleniti, laborum ex!</div>
        <div class="box">Quisquam suscipit repudiandae quibusdam. Labore quae impedit non eligendi aliquam eius ipsam, id consequuntur aspernatur, natus adipisci ad hic dolorum tempore explicabo, dolore quas eveniet aut. Veniam quaerat ut aspernatur.</div>
        <div class="box">A, iste similique, sed necessitatibus dolor recusandae omnis, mollitia voluptas magnam aperiam labore suscipit officiis aspernatur. Autem perferendis odit minus reprehenderit quae repellat perspiciatis, pariatur voluptatum natus est asperiores magni?</div>
        <div class="box">Totam quo minima fugit? Repellendus, perspiciatis possimus enim facere suscipit odit itaque molestias aperiam adipisci minus, illum repudiandae. Earum dolore unde odio! Atque distinctio nesciunt iste, assumenda at eligendi sequi.</div>
    </div>
</body>
</html>