body {
    border: 1px solid black;
    font-family: 'Montserrat', sans-serif;
}

img {
    height: 123px;
    width: auto;
}

.banner {
    background-color: rgb(53, 50, 50);
    color: rgb(241, 235, 235);
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.banner .elemento {
    margin: 0 px 0 3px;
}

.cabecera {
    background-color: yellow;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#logo img {
    height: 20px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
}

.boton-superior {
    width: 200px;
    height: 50px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    margin: 10px;
    align-items: center;
}

.botonera {
    display: flex;
    width: 100%;
}

.categorias {

}

/*

h2 {
    text-transform: capitalize;
}
*/